<div class="todo-wrapper">
  <div class="filter">
    <input matInput type="search"
      placeholder="Filter todo..."
      [(ngModel)]="searchString"
    >
    <mat-icon>search</mat-icon>
  </div>

  <div class="todo-sort">
    <mat-form-field appearance="fill">
      <mat-label>Sort by:</mat-label>
      <mat-select [(ngModel)]="sortByParams">
        <mat-option value="description">Name</mat-option>
        <mat-option value="date">Date</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-mini-fab color="primary" class="todo-sort__btn" (click)="onSortDirection()">
      <mat-icon *ngIf="sortDirection === 'asc'">arrow_downward</mat-icon>
      <mat-icon *ngIf="sortDirection === 'desc'">arrow_upward</mat-icon>
    </button>
  </div>

  <mat-card class="todo-container todo"
       [ngClass]="todo.completed ? 'done' : 'active'"
       *ngFor="let todo of todos
       | todosFilter: searchString
       | todosSort: sortDirection: sortByParams;
       let i = index">
    <mat-checkbox class="todo__checkbox"
      color="primary"
      [checked]="todo.completed"
      (click)="onToggle(todo.id)"
    ></mat-checkbox>
    <h3 class="todo__title">
      <span class="todo__number">{{ i + 1 }}.</span>
      {{ todo.description }}
    </h3>
    <p class="todo__date">{{ todo.date | date: 'medium' }}</p>
    <button mat-mini-fab color="primary" class="todo__btn remove" (click)="removeTodo(todo.id)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card>
</div>
